/* CSS RESET* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL ELEMENG STYLES */
li {
  list-style-type: none;
}

a {
  font-family: var(--link-font);
  text-decoration: none;
  font-size: 1.5rem;
}

p {
  font-family: var(--body-font);
}

.header-font {
  font-family: var(--link-font);
}

/* VARIABLES */
:root {
  --shadow: hsla(171, 27%, 15%, 1);
  --midtone: hsla(180, 11%, 52%, 1);
  --highlight: hsla(53, 14%, 65%, 1);
  --accent: hsla(189, 40%, 80%, 1);
  --light-text-color: hsla(53, 14%, 65%, 1);
  --dark-text-color: hsla(0, 0%, 10%, 1);
  --body-font: "Montserrat", sans-serif;
  --link-font: "Raleway", sans-serif;
}

body {
  background: var(--shadow);
  font-size: 18px;
}

/* NAVBAR */

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 1rem;
}

#navbar a {
  color: #fff;
}

.navlink-spacing-custom {
  margin-right: 1rem;
  margin-top: 1rem;
}

/* WELCOME SECTION */
/* remove padding from container-fluid */
.container-fluid {
  padding: 0;
}

/* padding for header-text container */
.header-padding {
  padding: 1.5rem;
}

/* push elements in header-text container down */
.header-margin {
  margin-top: 0;
}

#welcome-section {
  height: 100vh;
}

#welcome-section #header-img {
  width: 100%;
  /* max-height: 100%; */
}

#welcome-section .header-text {
  background: hsla(171, 27%, 15%, 1);
  color: hsla(189, 40%, 80%, 1);
}

/* PROJECTS SECTION */
.no-padding {
  padding: 0;
}

#projects {
  background: hsla(53deg, 8%, 85%, 1);
  /* color: var(--highlight); */
  color: var(--shadow);
}

/* GLOBAL STYLES FOR PROJECT TILES */
.project-tile {
  padding: 1.5rem;
}

.project-tile a {
  display: block;
  /* width: 90%; */
  /* margin: 0 auto; */
}

.project-tile a:hover {
  color: darkred;
}

.project-tile p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  color: var(--dark-text-color);
}

/* STYLES: ODD # TILES */
.project-tile:nth-of-type(odd) {
  background: var(--highlight);
}

/* STYLES: EVEN # TILES */
.project-tile:nth-of-type(even) {
  background: var(--midtone);
}

/* CARD-IMAGE  */
img {
  display: block;
}

/* FOOTER (Inherits background color from body element) */
#footer {
  color: var(--accent);
  font-size: 1.2rem;
  font-family: var(--body-font);
}

/* MEDIA QUERY */
@media (min-width: 768px) {
  .header-margin {
    margin-top: 25%;
  }
}
